{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <title>{% block title %} {{ paste.paste_title + " - dragonfly" }} {% endblock %}</title>
{% endblock %}

{% block content %}

<div class="jumbotron text-center dragonfly-text">
  <h1>dragonfly</h1>
  <h3>Markdown paste service with self-destructing</h3>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="alert alert-{{ messages.0.0 }} dragonfly-text" role="alert">
      {% for category, message in messages %}
        {{ message }} </br>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<div class="container">
  <form>
    <div class="form-group" id="paste-text">
      <div>
        {% markdown %}
        {{ '\n' + paste.paste_text | safe }}
        {% endmarkdown %}
      </div>
    </div>
    <hr>
    <div class="form-group text-center">
      <a href="{{ url_for('index') }}"><button type="button" class="btn btn-lg btn-primary dragonfly-text">Create your own!</button></a>
    </div>
  </form>
</div>

{% endblock %}